<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/main.css') }}">

    <title>Donwload Video</title>
</head>
<body>
    {% include './header.html' %}
    
    <main>
        <center>
            <img  src="{{ data.cover }}" width="400" height="420" />

        </center>
        <br >
        <br >

        <a class="pure-button pure-button-primary" href="{{ data.downloadUrl }}" style="width: 100%;">Download</a>
    </main>

    <br >
    <br >
    <br >

    {% include './footer.html' %}

    <script src="{{ url_for('static',filename='scripts/main.js') }}" defer></script>
</body>
</html>