<footer id="footer">
    <div class="footer__container d-flex justify-content-between">
    <div class="flex-1">
    </div>
    <div class="flex-2">
    <nav class="footer__navigation flex-column">
    <div class="footer-row row-1">
    <a href="/contact" target="_self">Contact</a>
    
    <!-- <a href="/apk" target="_self">APK</a>
    <a href="/download-tiktok-stories" target="_self">Stories</a>
     -->
    </div>
    <div class="footer-row row-2">
    <b>We are not affiliated with TikTok, Douyin or Bytedance.</b>
    </div>
   
    </div>
    <div class="flex-1 lang-wrapper">
    <ul id="language-switcher">
    
    </ul>
    </div>
    </div>
    <div class="text-center">
    <div class="copyright">
    Copyright 2024 </div>
    </div>
    </footer>