<header>
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <div class="menu-wrapper">
    <a class="pure-menu-heading" href="/">
    <div class="sss">
    <img src="{{ url_for('static',filename='images/logo.png') }}" width="32" height="32" alt="tiktok downloader">
    <div>
    Tiktok downloaders </div>
    </div>
    </a>
    <div id="menu" class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list u-oh">
 
    <li class="pure-menu-item">
    <a href="/" class="pure-menu-link">Download TikTok MP4</a>
    </li>
    </ul>
    </div> <div class="flex-1">
    <div id="twt_promo">
    
    </div>
    </div>
    <nav id="menu__toggle__wrapper">
    <div id="menuToggle">
    <input type="checkbox" id="menu_toggler" />
    <label for="menu_toggler"></label>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    </div>
    </nav>
    </div>
    <span class="standforukraine">
    <i></i>
    <i></i>
    </span>
    </div>
    </header>