<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/main.css') }}">

    <meta name="apple-itunes-app" content="app-id=1618823987, affiliate-data=ct=smartssstik" />
    <script type="text/javascript" src="//nc.pubpowerplatform.io/w/6d04f2d0-e6c2-4405-9d29-d40d54b50e5b.js" async defer>
        </script>
    <script type="text/javascript" src="//nc.pubpowerplatform.io/ata/adv/6d04f2d0-e6c2-4405-9d29-d40d54b50e5b.js" async defer></script>
    <title>Contact</title>
</head>
<body>
    {% include './header.html' %}


    <center style="margin-top: 20%;">
        <h1>Video not found</h1>
        <br >
        <a class="pure-button pure-button-primary" href="{{ url_for('Index') }}">Go back</a>
    </center>
    <script src="{{ url_for('static',filename='scripts/main.js') }}" defer></script>

    
</body>

</html>